	.schedule_content{
		margin: 20px auto;
		text-align: center;
	}
	.list_tb{
		width: 900px;
		margin: 20px auto;
		text-align: center;
	}
	.list_tb td{
		border-bottom : 1px solid lightgrey;
	}
	.pagination{
		justify-content: center;
	}